[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pandas = "*"
scikit-image = "*"
scikit-learn = "*"
tqdm = "*"
torchsummary = "*"

[dev-packages]

[requires]
python_version = "3.7"
